{% extends 'base.html' %}
{% block content %}
<section class="blog  blog-banner ">
  <div id="blog-banner">
    <h5 class="text-center">Blog & Articles</h5>
    <h1 class="text-center">RECENT BLOG</h1>
  </div>
  <div class="container">
    <div class="row gy-3">
      <div class="col-md-4">
        <div class="card" >
          <img class="rounded" src="https://random.imagecdn.app/500/500" class="card-img-top" alt="...">
          <div class="card-body">
            <div>
              <ul>
                <li class="l1">
                  <a href=""><i class="fa fa-user-alt"> &nbsp; Author</i></a>
                </li>
                <li class="l1">
                  <a href=""><i class="fas fa-calendar-week">&nbsp; 20 jan 2022</i></a>
                </li>
              </ul>
            </div>          
            <h5 class="card-title">5 Technology Considerations Ultimate Design</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="" style="text-decoration: none;">Read More</a>
          </div>
        </div>
      </div>
  
  
      <div class="col-md-4">
        <div class="card" >
          <img class="rounded" src="https://random.imagecdn.app/500/500" class="card-img-top" alt="...">
          <div class="card-body">
            <div>
              <ul>
                <li class="l1">
                  <a href=""><i class="fa fa-user-alt"> &nbsp; Author</i></a>
                </li>
                <li class="l1">
                  <a href=""><i class="fas fa-calendar-week">&nbsp; 20 jan 2022</i></a>
                </li>
              </ul>
            </div>          
            <h5 class="card-title">5 Technology Considerations Ultimate Design</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="" style="text-decoration: none;">Read More</a>
          </div>
        </div>
      </div>
  
  
      <div class="col-md-4">
        <div class="card" >
          <img class="rounded" src="https://random.imagecdn.app/500/500" class="card-img-top" alt="...">
          <div class="card-body">
            <div>
              <ul>
                <li class="l1">
                  <a href=""><i class="fa fa-user-alt"> &nbsp; Author</i></a>
                </li>
                <li class="l1">
                  <a href=""><i class="fas fa-calendar-week">&nbsp; 20 jan 2022</i></a>
                </li>
              </ul>
            </div>          
            <h5 class="card-title">5 Technology Considerations Ultimate Design</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="" style="text-decoration: none;">Read More</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card" >
          <img class="rounded" src="https://random.imagecdn.app/500/500" class="card-img-top" alt="...">
          <div class="card-body">
            <div>
              <ul>
                <li class="l1">
                  <a href=""><i class="fa fa-user-alt"> &nbsp; Author</i></a>
                </li>
                <li class="l1">
                  <a href=""><i class="fas fa-calendar-week">&nbsp; 20 jan 2022</i></a>
                </li>
              </ul>
            </div>          
            <h5 class="card-title">5 Technology Considerations Ultimate Design</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="" style="text-decoration: none;">Read More</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card" >
          <img class="rounded" src="https://random.imagecdn.app/500/500" class="card-img-top" alt="...">
          <div class="card-body">
            <div>
              <ul>
                <li class="l1">
                  <a href=""><i class="fa fa-user-alt"> &nbsp; Author</i></a>
                </li>
                <li class="l1">
                  <a href=""><i class="fas fa-calendar-week">&nbsp; 20 jan 2022</i></a>
                </li>
              </ul>
            </div>          
            <h5 class="card-title">5 Technology Considerations Ultimate Design</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="" style="text-decoration: none;">Read More</a>
          </div>
        </div>
      </div>
  
  
      <div class="col-md-4">
        <div class="card" >
          <img class="rounded" src="https://random.imagecdn.app/500/500" class="card-img-top" alt="...">
          <div class="card-body">
            <div>
              <ul>
                <li class="l1">
                  <a href=""><i class="fa fa-user-alt"> &nbsp; Author</i></a>
                </li>
                <li class="l1">
                  <a href=""><i class="fas fa-calendar-week">&nbsp; 20 jan 2022</i></a>
                </li>
              </ul>
            </div>          
            <h5 class="card-title">5 Technology Considerations Ultimate Design</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="" style="text-decoration: none;">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row mt-2">
    <div class="col-md-3 ms-md-auto">
      <!-- Start of the Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End of Pagination -->
    </div>
    <div class="col-md-3 ms-md-auto">
      
    </div>
  </div>
  {% endblock %}
  
  
  <!-- second Card -->
  <div class="card" style="width: 18rem;">
    <img src="https://random.imagecdn.app/500/500" class="card-img-top" alt="...">
    <div class="card-body">
    <div class="">
      <ul class="blog-list">  
        <li class="l1"><a href="">
         <i class="fa fa-user-alt">
            Author
         </i>
        
        </a>
     </li>
     <li class="l1">
         <a href="#">
             <i class="fas fa-calendar-week">
                 20 jan 2022
             </i>
         </a>
     </li>
    </ul>
  </div>
    <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt</p>
      <a href="#" class="btn btn">Read More</a>
    </div>
  </div>
  
  
  <!-- third Card -->

  </div>
</section>

  
  