{% include 'base.html' %}
{% block content %}
<section class="blog  blog-banner ">
  <br> <br> <br> 
  <div id="blog-banner  mt-4">
    <h5 class="text-center">Blog & Articles</h5>
    <h1 class="text-center">RECENT BLOG</h1>
  </div>
  <div class="container">
    <div class="row gy-3">
      {% for blog in blogs%}
        <div class="col-md-4">
          <div class="card" >
            <img class="rounded img-fluid card-img-top"  src="{{blog.image.url}}" alt="...">
            <div class="card-body">          
              <h5 class="card-title">{{blog.title}}</h5>
              <p class="card-text">{{blog.shot_description}}</p>
              <div class="card-footer bg-transparent ">
                <a href="{% url 'blog-detail' blog.slug %}" class="" style="text-decoration: none;">Read More >></a>
                <br>
                <small><i class="fa fa-user-alt"> &nbsp; {{blog.author}}</i></small>
                <small><i class="fas fa-calendar-week">&nbsp; {{blog.updated_at}}</i></small>
              </div>
              
            </div>
          </div>
        </div>

      {% endfor %}      
    </div>
</section>
    <!-- Start of the Pagination -->
    <br>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
          {% if blogs.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; First</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{blogs.previous_page_number}}">Previous</a>
          </li>        
          {% endif %}
          <li class="page-item disabled">
            <a href="#" class="page-link">page {{blogs.number}} of {{blogs.paginator.num_pages}}</a>

          </li>
          {% if blogs.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{blogs.next_page_number}}">Next</a>
          </li>
          <li class="page-item">
            <a  class="page-link" href="?page={{blogs.paginator.num_pages}}">Last &raquo;</a>
          </li>
          {% endif %}
      </ul>
    </nav>
    <!-- End of Pagination -->
{% include 'footer.html' %}
{% endblock %}

  
  