{% extends "base.html" %}

{% load static %}
{% block content %}

<section class="blog  container mt-2">
    <h1 class="text-center">PISR’s programs are developing the next generation of leaders, 
        providing funding to make the world a better place, and making peace a priority. And our programs are not just for club members.
         Learn how you can make a difference in your community through PISR.</h1>
    <div class="row gy-3">
      <div class="col-md-4">
        <div class="card" >
          <img class="rounded" src="https://random.imagecdn.app/500/500" class="card-img-top" alt="...">
          <div class="card-body">         
            <h5 class="card-title">Strengthened communication</h5>
            <p class="card-text">This objective builds on the work initiated and lessons learned during the first PISR work programme and includes the continuation of the implementation of the PISR communication and outreach strategy, with a view to increasing the visibility of PISR and its products and the use of PISR products by Governments and stakeholders.</p>
            <a href="#" class="" style="text-decoration: none;">Read More</a>
          </div>
        </div>
      </div>
  
  
      <div class="col-md-4">
        <div class="card" >
          <img class="rounded" src="https://random.imagecdn.app/500/500" class="card-img-top" alt="...">
          <div class="card-body">       
            <h5 class="card-title">Strengthened engagement of Governments</h5>
            <p class="card-text">This objective builds on the work initiated and lessons learned during the work programme to date. PISR will continue to engage Governments, in particular by supporting PISR national focal points in the uptake of PISR deliverables and the implementation of the work programme.
            </p>
            <a href="#" class="" style="text-decoration: none;">Read More</a>
          </div>
        </div>
      </div>
  
  
      <div class="col-md-4">
        <div class="card" >
          <img class="rounded" src="https://random.imagecdn.app/500/500" class="card-img-top" alt="...">
          <div class="card-body">         
            <h5 class="card-title">5 Technology Considerations Ultimate Design</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="" style="text-decoration: none;">Read More</a>
          </div>
        </div>
      </div>
  
    </div>
  </section>
{% endblock %}