{% extends 'base.html' %}


{% load static %}

{% block content %}
<div class="home">
    <video src="{% static 'videos/forest_view.mp4' %}" muted loop autoplay></video>
    <div class="cover"></div>
    <div class="cover-text">
        <h2 class="reveal">Professional Institute <br>of<br> Scientific Research</h2>
        <h4  class="reveal">welcome to PISR: The <span>Environment</span> Experts</h4>

        <a  class="reveal" href="{% url 'home' %}">explore</a>

    </div>
</div>
{% endblock %}


