{% extends "base.html"%}

{% block content %}
<section class="obj-1 ">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="lead">Assessing knowledge</h1>
                <h2>To assess the state of knowledge on biodiversity 
                    and nature’s contributions to people in support of sustainable development.</h2>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="https://random.imagecdn.app/500/150" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="achivement">
        <div class="container">
            <div class="row ">
                <div class="col-md-4">
                    <div class="card mt-4 mb-3" >
                        <div class="card-body">
                          <h5 class="card-title">Interlinkages among biodiversity, water, food and health</h5>
                          
                          <p class="card-text">
                            Understanding the importance of biodiversity in achieving the 2030 Agenda for Sustainable Development, this assessment will use a nexus approach to examine 
                            interlinkages between biodiversity among other issues
                          </p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card mt-4 mb-3">
                        <div class="card-body">
                          <h5 class="card-title">Assessment of the underlying causes of biodiversity</h5>
                          
                          <p class="card-text">
                            This assessment is aimed at understanding and identifying factors in human society at both the individual and collective levels, 
                            including behavioural, social, cultural, economic, institutional, 
                            technical and technological dimensions, 
                            that can be leveraged to bring about transformative change
                          </p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card mt-4 mb-3" >
                        <div class="card-body">
                          <h5 class="card-title"> Assessment of the impact and dependence of business on biodiversity and nature’s contributions to people</h5>
                          
                          <p class="card-text">
                            This methodological assessment is aimed at categorizing how businesses depend on, 
                            and impact, biodiversity and nature’s contributions to people and identifying
                            criteria and indicators.</p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        
    </div>
    <!-- repeat -->

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="lead">Assessing knowledge</h1>
                <h2>To assess the state of knowledge on biodiversity 
                    and nature’s contributions to people in support of sustainable development.</h2>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="https://random.imagecdn.app/500/150" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="achivement">
        <div class="container">
            <div class="row ">
                <div class="col-md-4">
                    <div class="card mt-4 mb-3" >
                        <div class="card-body">
                          <h5 class="card-title">Interlinkages among biodiversity, water, food and health</h5>
                          
                          <p class="card-text">
                            Understanding the importance of biodiversity in achieving the 2030 Agenda for Sustainable Development, this assessment will use a nexus approach to examine 
                            interlinkages between biodiversity among other issues
                          </p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card mt-4 mb-3">
                        <div class="card-body">
                          <h5 class="card-title">Assessment of the underlying causes of biodiversity</h5>
                          
                          <p class="card-text">
                            This assessment is aimed at understanding and identifying factors in human society at both the individual and collective levels, 
                            including behavioural, social, cultural, economic, institutional, 
                            technical and technological dimensions, 
                            that can be leveraged to bring about transformative change
                          </p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card mt-4 mb-3" >
                        <div class="card-body">
                          <h5 class="card-title"> Assessment of the impact and dependence of business on biodiversity and nature’s contributions to people</h5>
                          
                          <p class="card-text">
                            This methodological assessment is aimed at categorizing how businesses depend on, 
                            and impact, biodiversity and nature’s contributions to people and identifying
                            criteria and indicators.</p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        
    </div>

    
    







</section>
{% endblock %}

