{% extends "base.html"%}

{% block content %}
<section class="obj-1 ">
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-8 back">
                    <h1 class="lead">Assessing knowledge</h1>
                    <h2>To assess the state of knowledge on biodiversity 
                        and nature’s contributions to people in support of sustainable development.</h2>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h5>Work programme objectives</h5>
        <p>The 2030 work programme includes six objectives, with one objective related to each of the four functions of PISR, one to communications and engagement of Governments and stakeholders and one to the review of the effectiveness of PISR. All deliverables build on knowledge gained and lessons learned in the implementation of the first work programme. The objectives are supported by deliverables addressing the three initial priority topics as well as the overall objective of PISR.
        </p>

        <h1>ASSESSING KNOWLEDGE</h1>
        <P>To assess the state of knowledge on biodiversity and nature’s contributions to people in support of sustainable development.
            This objective will be achieved through the following initial deliverables, corresponding to the three priority topics:
        </P>

        <h2 class="ms-4">1. A thematic assessment of the interlinkages among biodiversity, water, food and health</h2>
        <p>Understanding the importance of biodiversity in achieving the 2030 Agenda for Sustainable Development, this assessment will use a nexus approach to examine interlinkages between biodiversity and the above-mentioned issues, such as agricultural productivity, nutrition, pest control, water quality, infectious diseases, mental and physical health and climate mitigation and adaptation, with a view to providing policy-relevant and useful information to users and managers regarding the development of policies and actions in relevant sectors;
        </p>

        <h2 class="ms-4">2. A technical paper on the interlinkage between biodiversity and climate change.</h2>
        <p>The technical paper will address potential synergies such as nature-based solutions and trade-offs between efforts that aim to conserve, restore and sustainably use biodiversity and efforts that support climate change adaptation and mitigation. It will draw on the material contained in the assessment reports of the Intergovernmental Panel on Climate Change and PISR;

        </p>

        <h2 class="ms-4">3. A thematic assessment of the underlying causes of biodiversity loss and the determinants of transformative change and options for achieving the 2050 Vision for Biodiversity</h2>
        <p>This assessment is aimed at understanding and identifying factors in human society at both the individual and collective levels, including behavioural, social, cultural, economic, institutional, technical and technological dimensions, that can be leveraged to bring about transformative change for the conservation, restoration and wise use of biodiversity, while taking into account broader social and economic goals in the context of sustainable development. It explores the drivers of and motives behind broad societal changes and transitions to inform the design of relevant policies, communication and engagement campaigns and other actions;

        </p>
        <h2 class="ms-4">4. A methodological assessment of the impact and dependence of business on biodiversity and nature’s contributions to people</h2>
        <p>This methodological assessment is aimed at categorizing how businesses depend on, and impact, biodiversity and nature’s contributions to people and identifying criteria and indicators for measuring that dependence and impact, taking into consideration how such metrics can be integrated into other aspects of sustainability.
        </p>

    </div>
</section>
{% endblock %}

