{% extends "base.html"%}

{% block content %}
<section class="obj-1 ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 back">
                <h1 class="lead">Assessing knowledge</h1>
                <h2>To assess the state of knowledge on biodiversity 
                    and nature’s contributions to people in support of sustainable development.</h2>
            </div>
            <div class="col-md-2">
                <img class="img-fluid1" src="https://random.imagecdn.app/500/150" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="achivement">
        <div class="container">
            <div class="row ">
                <div class="col-md-4" id="card11" >
                    <div class="card mt-4 mb-3"  >
                        <div class="card-body">
                          <h5 class="card-title">Interlinkages among biodiversity, water, food and health</h5>
                          
                          <p class="card-text">
                            Understanding the importance of biodiversity in achieving the 2030 Agenda for Sustainable Development, this assessment will use a nexus approach to examine 
                            interlinkages between biodiversity among other issues
                          </p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4" id="card11">
                    <div class="card mt-4 mb-3">
                        <div class="card-body">
                          <h5 class="card-title">Assessment of the underlying causes of biodiversity</h5>
                          
                          <p class="card-text">
                            This assessment is aimed at understanding and identifying factors in human society at both the individual and collective levels, 
                            including behavioural, social, cultural, economic, institutional, 
                            technical and technological dimensions, 
                            that can be leveraged to bring about transformative change
                          </p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4" id="card11">
                    <div class="card mt-4 mb-3" >
                        <div class="card-body">
                          <h5 class="card-title"> Assessment of the impact and dependence of business on biodiversity and nature’s contributions to people</h5>
                          
                          <p class="card-text">
                            This methodological assessment is aimed at categorizing how businesses depend on, 
                            and impact, biodiversity and nature’s contributions to people and identifying
                            criteria and indicators.</p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        
    </div>
    <!-- repeat -->

    <div class="container">
        <div class="row">
            <div class="col-md-8 back">
                <h1 class="lead">Assessing knowledge</h1>
                <h2>To assess the state of knowledge on biodiversity 
                    and nature’s contributions to people in support of sustainable development.</h2>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="https://random.imagecdn.app/500/150" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="achivement">
        <div class="container">
            <div class="row ">
                <div class="col-md-4" id="card11">
                    <div class="card mt-4 mb-3" >
                        <div class="card-body">
                          <h5 class="card-title">Interlinkages among biodiversity, water, food and health</h5>
                          
                          <p class="card-text">
                            Understanding the importance of biodiversity in achieving the 2030 Agenda for Sustainable Development, this assessment will use a nexus approach to examine 
                            interlinkages between biodiversity among other issues
                          </p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4" id="card11">
                    <div class="card mt-4 mb-3">
                        <div class="card-body">
                          <h5 class="card-title">Assessment of the underlying causes of biodiversity</h5>
                          
                          <p class="card-text">
                            This assessment is aimed at understanding and identifying factors in human society at both the individual and collective levels, 
                            including behavioural, social, cultural, economic, institutional, 
                            technical and technological dimensions, 
                            that can be leveraged to bring about transformative change
                          </p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4" id="card11">
                    <div class="card mt-4 mb-3" >
                        <div class="card-body">
                          <h5 class="card-title"> Assessment of the impact and dependence of business on biodiversity and nature’s contributions to people</h5>
                          
                          <p class="card-text">
                            This methodological assessment is aimed at categorizing how businesses depend on, 
                            and impact, biodiversity and nature’s contributions to people and identifying
                            criteria and indicators.</p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        
    </div>


    <!-- Objective fifth -->

    
    <div class="container" >
        <div class="row">
            <div class="col-md-8 back">
                <h1 class="lead" style="font-size: large;">To strengthen the involvement of the members and
                     stakeholders and to increase the visibility of PISR and the use of PISR products.</h1>

                <h2>This objective will be achieved through the following:
                </h2>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="https://random.imagecdn.app/500/150" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="achivement" >
        <div class="container">
            <div class="row ">
                <div class="col-md-4" id="card11" >
                    <div class="card mt-4 mb-3 " >
                        <div class="card-body" >
                          <h5 class="card-title">Strengthened communication</h5>
                          
                          <p class="card-text">
                            builds on the work initiated and lessons learned during the first PISR work programme and includes the continuation of the implementation of the PISR communication and outreach strategy, 
                            with a view to increasing the visibility of PISR and its products and the use of PISR products by Governments and stakeholders.
                          </p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4" id="card11" >
                    <div class="card mt-4 mb-3">
                        <div class="card-body" >
                          <h5 class="card-title">Strengthened engagement of Governments</h5>
                          
                          <p class="card-text">
                            builds on the work initiated and lessons learned during the work programme to date. 
                            PISR will continue to engage Governments, in particular by supporting PISR national focal points in the uptake of PISR deliverables and the implementation of the work programme.

                          </p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4" id="card11">
                    <div class="card mt-4 mb-3" >
                        <div class="card-body">
                          <h5 class="card-title">Strengthen engagement of stakeholders</h5>
                          
                          <p class="card-text">
                            builds on the work initiated and lessons learned during the first work programme and includes the developing and strengthening of the implementation of the PISR stakeholder engagement strategy. 
                            PISR will continue to engage with strategic partners and other stakeholders.
                        </p>
                          <a href="#" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        
    </div>
    







</section>
{% endblock %}

