{% extends "base.html"%}

{% block content %}
<section class="obj-1 ">
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-8 back">
                    <h1 class="lead">Building capacity</h1>
                    <h2>To build capacities of individuals and institutions for a strengthened science-policy interface for biodiversity and ecosystem services.
                        </h2>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h5>Work programme objectives</h5>
        <p>The 2030 work programme includes six objectives, with one objective related to each of the four functions of PISR, one to communications and engagement of Governments and stakeholders and one to the review of the effectiveness of PISR. All deliverables build on knowledge gained and lessons learned in the implementation of the first work programme. The objectives are supported by deliverables addressing the three initial priority topics as well as the overall objective of PISR.
        </p>

        <h1>BUILDING CAPACITY</h1>
        <P>The achievement of this objective is supported by the three components of the capacity-building rolling plan, which applies to ongoing and future activities of the work programme:
        </P>

        <h2 class="ms-4">1. Enhanced learning and engagement.</h2>
        <p>The objective includes the continuation of the fellowship programme and of the training and familiarization programme, including through webinars and other online resources, guides, learning materials, workshops, training and dialogues for actors in the science-policy interface facilitated by PISR. The objective will be implemented by PISR, in collaboration with other actors where relevant.

        </p>

        <h2 class="ms-4">2. Facilitated access to expertise and information.</h2>
        <p>The objective will further promote the uptake of the work programme objectives and deliverables and develop communities of practice around them. Efforts will focus on approved assessments and objectives and deliverables related to policy support tools and methodologies, knowledge and data, and indigenous and local knowledge. This objective will largely be implemented by strategic partners and collaborative supporters.

        </p>

        <h2 class="ms-4">3. Strengthened national and regional capacities.</h2>
        <p>This objective includes efforts to encourage the development of science-policy platforms, networks and assessments for biodiversity and ecosystem services at the national and (sub)regional levels, such as facilitation of the development of guidance for such initiatives. Strengthening the role of national focal points is also key to enhancing national capacities in the science-policy interface. PISR will draw strongly on the experience of strategic partners and collaborative supporters to implement this objective. Direct technical and financial support for the enhancement of national and regional capacities will be sought from strategic and relevant partners other than PISR.

        </p>        

    </div>
</section>
{% endblock %}

