{% extends "base.html"%}

{% block content %}
<section class="obj-1 ">
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-8 back">
                    <h1 class="lead">Strengthening the knowledge foundations</h1>
                    <h2>To promote the generation of knowledge and management of data on biodiversity and ecosystem services as a foundation for the work of PISR.</h2>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h5>Work programme objectives</h5>
        <p>The 2030 work programme includes six objectives, with one objective related to each of the four functions of PISR, one to communications and engagement of Governments and stakeholders and one to the review of the effectiveness of PISR. All deliverables build on knowledge gained and lessons learned in the implementation of the first work programme. The objectives are supported by deliverables addressing the three initial priority topics as well as the overall objective of PISR.
        </p>

        <h1>STRENGTHENING THE KNOWLEDGE FOUNDATIONS</h1>
        <P>This objective will be achieved through ongoing and future activities across the work programme, as follows:
        </P>

        <h2 class="ms-4">1. Advanced work on knowledge and data.</h2>
        <p>This objective focuses on: identifying, prioritizing, mobilizing and facilitating access to existing knowledge, information and data, including indicators and metrics to be used in assessments; further developing a web-based infrastructure in support of open data sharing and information management; identifying gaps in knowledge and data arising from the completed deliverables of PISR work programmes; a systematic cataloguing of knowledge and data gaps identified in the work programme; and catalysing the generation of new knowledge by making those gaps known, including to research funding agencies, research programme developers and institutions involved in prioritizing and funding data mobilization and considering them for further prioritization of deliverables in the work programme.
        </p>

        <h2 class="ms-4">2. Enhanced recognition of and work with indigenous and local knowledge systems.</h2>
        <p>This objective focuses on implementing the approach to recognizing and working with indigenous and local knowledge in PISR,  taking into account the special needs of indigenous and local knowledge holders through the implementation of the participatory mechanism established under the approach, as well as taking into consideration the recommendations and findings set out in document PISR/7/INF/8 and other relevant future PISR processes.

        </p>    

    </div>
</section>
{% endblock %}

