{% extends "base.html"%}

{% block content %}
<section class="obj-1 ">
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-8 back">
                    <h1 class="lead">Supporting policy</h1>
                    <h2>To identify and promote the development and use of policy instruments, policy support tools and methodologies in the field of biodiversity and ecosystem functions and services.
                    </h2>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h5>Work programme objectives</h5>
        <p>The 2030 work programme includes six objectives, with one objective related to each of the four functions of PISR, one to communications and engagement of Governments and stakeholders and one to the review of the effectiveness of PISR. All deliverables build on knowledge gained and lessons learned in the implementation of the first work programme. The objectives are supported by deliverables addressing the three initial priority topics as well as the overall objective of PISR.
        </p>

        <h1>SUPPORTING POLICY</h1>
        <P>This objective will be achieved through ongoing and future activities across the work programme, as follows:
        </P>

        <h2 class="ms-4">1. Advanced work on policy instruments, policy support tools and methodologies.</h2>
        <p>This objective focuses on supporting the use of policy instruments, policy support tools and methodologies in the implementation of the programme of work relevant for biodiversity conservation, restoration and sustainable use, as well as provision of ecosystem functions and services in the conduct of the assessments, and in enabling the uptake of the findings of the assessments in decision-making. This objective further focuses on developing the PISR policy support web portal and promoting and catalysing the further development of policy instruments and policy support tools to fill gaps identified in assessments and related capacity-building activities.

        </p>

        <h2 class="ms-4">2. Advanced work on scenarios and models of biodiversity and ecosystem functions and services.
        </h2>
        <p>This objective consists of providing advice to expert groups assessing the use of existing models and scenarios, and catalysing the development of new scenarios and associated models for the future work of PISR and the application in policy development, while also promoting coherence with similar work carried out by the Intergovernmental Panel on Climate Change and other bodies, as appropriate.

        </p>

        <h2 class="ms-4">3. Advanced work on multiple values.</h2>
        <p>This objective consists of providing advice on the integration of multiple conceptualizations of values into other deliverables of the work programme, in particular under the objectives on assessments and policy instruments, policy support tools and methodologies, and through further work building on the methodological assessment regarding the diverse conceptualization of multiple values of nature and its contributions, including biodiversity and ecosystem functions and services.
        </p>        

    </div>
</section>
{% include 'footer.html' %}
{% endblock %}

