{% extends "base.html"%}

{% block content %}
<section class="obj-1 ">
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-8 back">
                    <h1 class="lead">Communicating and engaging</h1>
                    <h2>To strengthen the involvement of the members and stakeholders and to increase the visibility of PISR and the use of PISR products.
                    </h2>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h5>Work programme objectives</h5>
        <p>The 2030 work programme includes six objectives, with one objective related to each of the four functions of PISR, one to communications and engagement of Governments and stakeholders and one to the review of the effectiveness of PISR. All deliverables build on knowledge gained and lessons learned in the implementation of the first work programme. The objectives are supported by deliverables addressing the three initial priority topics as well as the overall objective of PISR.
        </p>

        <h1>COMMUNICATING AND ENGAGING</h1>
        <P>This objective will be achieved through the following:
        </P>

        <h2 class="ms-4">1. Strengthened communication.</h2>
        <p>This objective builds on the work initiated and lessons learned during the first PISR work programme and includes the continuation of the implementation of the PISR communication and outreach strategy, with a view to increasing the visibility of PISR and its products and the use of PISR products by Governments and stakeholders.

        </p>

        <h2 class="ms-4">2. Strengthened engagement of Governments.</h2>
        <p>This objective builds on the work initiated and lessons learned during the work programme to date. PISR will continue to engage Governments, in particular by supporting PISR national focal points in the uptake of PISR deliverables and the implementation of the work programme.

        </p>

        <h2 class="ms-4">3. Strengthen engagement of stakeholders.</h2>
        <p>This objective builds on the work initiated and lessons learned during the first work programme and includes the developing and strengthening of the implementation of the PISR stakeholder engagement strategy. PISR will continue to engage with strategic partners and other stakeholders.

        </p>        

    </div>
</section>
{% include 'footer.html' %}
{% endblock %}

