{% extends "base.html"%}

{% block content %}
<section class="obj-1 ">
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-8 back">
                    <h1 class="lead">Improving the effectiveness of the Platform</h1>
                    <h2>To ensure the regular internal and external review of the effectiveness of PISR.
                    </h2>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h5>Work programme objectives</h5>
        <p>The 2030 work programme includes six objectives, with one objective related to each of the four functions of PISR, one to communications and engagement of Governments and stakeholders and one to the review of the effectiveness of PISR. All deliverables build on knowledge gained and lessons learned in the implementation of the first work programme. The objectives are supported by deliverables addressing the three initial priority topics as well as the overall objective of PISR.
        </p>

        <h1>IMPROVING THE EFFECTIVENESS OF THE PLATFORM</h1>
        <P>This objective will be achieved through the following:
        </P>

        <h2 class="ms-4">1. Periodic review of the effectiveness of PISR.</h2>
        <p>This objective is aimed at ensuring that the outcome of the review of the first work programme informs the implementation of the rolling work programme up to 2030 and that a procedure is developed for a midterm and a final review of the rolling work programme up to 2030.

        </p>

        <h2 class="ms-4">2. Review of the PISR conceptual framework.</h2>
        <p>This objective aims to ensure that the use and impact of the PISR conceptual framework are reviewed to inform the evolution of the rolling work programme.

        </p>

        <h2 class="ms-4">3. Improving the effectiveness of the assessment process.</h2>
        <p>This objective aims to provide lessons learned and advice from the authors and other contributors of completed assessments to those undertaking future assessments.
        </p>        

    </div>
</section>
{% include 'footer.html' %}
{% endblock %}

