{% extends 'base.html' %}
{% load static %}

{% block content %}

<br><br>
<div id="carouselExampleCaptions" class="carousel slide center w-70" data-bs-ride="carousel" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="justify-content: center;">
      <div class="carousel-item active">
        <img src="/static/img/projects/bird.jpg" class="d-block " alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/img/projects/ocean.jpg" class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/img/projects/lake.jpg" class="d-block " alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>

<section class="pwp-projects">
    <!-- after slideshow -->
    <main>
        
        <!-- courasel ends -->
        <h2 style="text-align: center;">PROJECTS PAGE</h2>
        <div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card  text-center" id="card1">
                        <br>
                        <div class="card-body">
                            <div class="card-title">PWP PILOT PROJECTS</div>
                            <p class="card-text">Pilot projects are to be implemented under the Basel Convention
                                Partnership on Plastic Waste (PWP) to improve and promote the environmentally sound
                                management (ESM) of plastic waste and to prevent and minimize its generation.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-outline-success btn-icon-right">
                                <span>PWP Pilot Projects
                                    <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png"
                                        height="24">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  text-center" id="card2">
                        <br>
                        <div class="card-body">

                            <div class="card-title">ENVIRONMENTAL REPORT</div>
                            <p class="card-text">As the UN Secretary-General has said, we are currently grappling with
                                the worst global crisis since World War II. As leaders respond to these unprecedented
                                challenges and take the decisions that will shape societies for decades to come, it is
                                of paramount importance that science and evidence should guide our actions, helping us
                                to build back better, by mending our increasingly frayed relationship with nature.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-outline-success btn-icon-right">
                                <span>Enviromental Report
                                    <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png"
                                        height="24">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  text-center" id="card3">
                        <br>
                        <div class="card-body">
                            <div class="card-title">WORK PROGRAMME</div>
                            <p class="card-text">The rolling work programme up to 2030 of PISR aims to advance the
                                achievement of the overall objective of PISR, which is to strengthen the science-policy
                                interface for biodiversity and ecosystem services for the conservation and sustainable
                                use of biodiversity, long-term human well-being and sustainable development.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-outline-success btn-icon-right">
                                <span>WORK Programme
                                    <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png"
                                        height="24">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <h1 style="text-align: center;">Work Programme</h1>
        <style>
            .outer-div {
                display: flex;
            }

            .inner-div {
                background-color: #e1f5fe;
                margin: 0px 20px;
                padding: 20px;
                border: 1px solid #81d4fa;
            }
        </style>

        </head>

        <body>

            <!-- Outer Div (That may be your row) -->
            <div class="outer-div">

                <!-- Inner Div (That may be your Columns) -->
                <div class="inner-div">
                    <h3 style="text-align: center;">PISR rolling work programme up to 2030</h3>
                    <p>The rolling work programme up to 2030 of PISR aims to advance the achievement of the overall
                        objective of PISR, which is to strengthen the science-policy interface for biodiversity and
                        ecosystem services for the conservation and sustainable use of biodiversity, long-term human
                        well-being and sustainable development.
                        The policy framework for the 2030 work programme corresponds to the 2030 Agenda for Sustainable
                        Development, including the Sustainable Development Goals, the biodiversity-related conventions
                        and other biodiversity and ecosystem service processes.
                        The 2030 work programme is entirely demand-driven, based on requests received from relevant
                        bodies under multilateral environmental agreements and Governments and inputs and suggestions
                        received from other stakeholders. It is expected to inform all stakeholders in the
                        implementation of their activities to support the achievement of the post-2020 global
                        biodiversity framework and the 2050 Vision for Biodiversity, as well as other work under
                        multilateral environmental agreements related to biodiversity. The work programme may also
                        inform the implementation of the Paris Agreement with respect to matters related to the links
                        between biodiversity and climate change.
                        The goal of the work programme is the performance of the four functions of PISR. It is guided by
                        its operating principles.
                        The 2030 work programme is a rolling work programme, with a strategic and predictable timing, so
                        as to allow research and other programming entities and strategic partners to support identified
                        deliverables effectively. The Plenary will launch additional calls for requests, inputs and
                        suggestions during the course of the work programme, in line with the process set out in
                        decision PISR-1/3, which allows for requests, inputs and suggestions to be submitted no later
                        than six months prior to a session of the Plenary.
                        For information on the first PISR work programme 2014-2018 please see here.
                    </p>
                </div>
            </div><br>
            <h1 style="text-align: center;">Enviromental Statistics</h1>
            <section class="counter bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="count-card">
                                <i class="far fa-smile"></i>
                                <span data-toggle="counter-up">331+</span>
                                <h3>Happy Clients</h3>
                                <p>The objective of this guideline is to provide best practice guidance to improve the
                                    ability</p>
                                <a href="#">Read More »</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="count-card">
                                <i class="fas fa-project-diagram"></i>
                                <span data-toggle="counter-up">722+</span>
                                <h3>Scope</h3>
                                <p>The objective of this guideline is to provide best practice guidance to improve the
                                    ability</p>
                                <a href="#">Read More »</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="count-card">
                                <i class="far fa-question-circle"></i>
                                <span data-toggle="counter-up">526+</span>
                                <h3>Support</h3>
                                <p>The objective of this guideline is to provide best practice guidance to improve the
                                    ability</p>
                                <a href="#">Read More »</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="count-card">
                                <i class="fas fa-users"></i>
                                <span data-toggle="counter-up">100+</span>
                                <h3>Our Team</h3>
                                <p>The objective of this guideline is to provide best practice guidance to improve the
                                    ability</p>
                                <a href="#">Read More »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End counter Section -->
            <br>
            <h2 style="text-align: center;">World Programme Topics</h2>
            <div class="accordion-container">
                <div class="accordion">
                    <div class="card card-accordion">
                        <div class="card-header" id="headingOne">
                            <span>Understanding the importance of biodiversity in achieving the 2030 Agenda for
                                Sustainable
                                Development:</span>
                            <a href="#collapseOne" class="icon-btn" data-toggle="collapse"></a>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                Addressing the nature of the interlinkages between biodiversity and other relevant
                                issues
                                reflected in the 2030 Agenda may advance the understanding of biodiversity-related
                                impacts,
                                dependencies, synergies and trade-offs across the Sustainable Development Goals and of
                                options for integrated and cross-sectoral approaches to achieving the 2030 Agenda. To
                                address this challenge, the deliverables under this topic will look, in particular, at
                                the
                                interlinkages among biodiversity, water, food and health and between biodiversity and
                                climate change, with a view to informing the development of policies and actions. Other
                                aspects may include the role of connectivity in ensuring integrity and resilience in
                                socioecological systems;
                            </div>
                        </div>
                    </div>
                    <div class="cardd card-accordion">
                        <div class="card-header" id="headingTwo">
                            <span>Understanding the underlying causes of biodiversity loss and determinants of
                                transformative change and options for achieving the 2050 Vision for
                                Biodiversity:?</span>
                            <a href="#collapseTwo" class="icon-btn" data-toggle="collapse"></a>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Achieving the 2050 Vision in conjunction with the Sustainable Development Goals can be
                                informed by an improved understanding of fundamental changes at many levels, from
                                individuals through communities and businesses to society at large. The deliverables
                                related
                                to this topic are aimed at understanding and identifying factors in human society at
                                both
                                the individual and collective levels, including behavioural, social, cultural, economic,
                                institutional, technical and technological dimensions, that may be leveraged to bring
                                about
                                transformative change for the conservation, restoration and wise use of biodiversity,
                                while
                                taking into account broader social and economic goals in the context of sustainable
                                development
                            </div>
                        </div>
                    </div>
                    <div class="card card-accordion">
                        <div class="card-header" id="headingThree">
                            <span>Measuring business impact and dependence on biodiversity and nature’s contributions to
                                people:</span>
                            <a href="#collapseThree" class="icon-btn" data-toggle="collapse"></a>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                Appropriate tools for measuring, assessing and monitoring the dependence and impact of
                                the
                                business sector on biodiversity are important for reducing adverse effects. Such tools
                                are
                                also important for promoting business actions contributing to the conservation,
                                restoration
                                and sustainable use of biodiversity and to developing the business case for long-term
                                sustainability. They are also important for promoting public accountability, informing
                                regulatory agencies and guiding financial investments and in influencing consumer
                                behaviour.
                                Deliverables under this topic include categorization of the ways in which businesses
                                depend
                                on, and impact, biodiversity and nature’s contributions to people, and work related to
                                criteria and indicators for measuring this dependence and impact, taking into
                                consideration
                                how such metrics can be integrated into other aspects of sustainability.
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
            <section class="testimonial-slider bg-light">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner py-5 text-center">
                        <div class="carousel-item active">
                            <i class="bi bi-chat-right-quote fs-1 text-danger"></i>
                            <figure class="text-cent col-md-6 offset-md-3 mt-4">
                                <blockquote class="blockquote">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text</p>
                                </blockquote>
                                <figcaption class="blockquote-footer mt-2">Jonh Son</figcaption>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <i class="bi bi-chat-right-quote fs-1 text-danger"></i>
                            <figure class="col-md-6 offset-md-3 mt-4">
                                <blockquote class="blockquote">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text</p>
                                </blockquote>
                                <figcaption class="blockquote-footer mt-2">Jonh Son</figcaption>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <i class="bi bi-chat-right-quote fs-1 text-danger"></i>
                            <figure class="col-md-6 offset-md-3 mt-4">
                                <blockquote class="blockquote">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text</p>
                                </blockquote>
                                <figcaption class="blockquote-footer mt-2">Jonh Son</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
    </main>
</section>
{% endblock %}