{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="hero bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 back">
                    <h1 class="lead">Assessing knowledge</h1>
                    <h2>To assess the state of knowledge on biodiversity 
                        and nature’s contributions to people in support of sustainable development.</h2>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="photoGallery push-down mt-0">
    <div class="container">      
        <div class="gallery-columns">
            <div class="row">
                <div class="col-6 col-sm-4 mb-4">
                    <a href="https://images.pexels.com/photos/2765872/pexels-photo-2765872.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="thumbnail">
                        <img src="https://images.pexels.com/photos/2765872/pexels-photo-2765872.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-6 col-sm-4 mb-4">
                    <a href="https://images.pexels.com/photos/109391/pexels-photo-109391.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="thumbnail">
                        <img src="https://images.pexels.com/photos/109391/pexels-photo-109391.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-6 col-sm-4 mb-4">
                    <a href="https://images.pexels.com/photos/2382894/pexels-photo-2382894.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="thumbnail">
                        <img src="https://images.pexels.com/photos/2382894/pexels-photo-2382894.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" class="img-fluid" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-6 col-sm-4 mb-4">
                    <a href="https://images.pexels.com/photos/2480797/pexels-photo-2480797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="thumbnail">
                        <img src="https://images.pexels.com/photos/2480797/pexels-photo-2480797.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-6 col-sm-4 mb-4">
                    <a href="https://images.pexels.com/photos/1123771/pexels-photo-1123771.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="thumbnail">
                        <img src="https://images.pexels.com/photos/1123771/pexels-photo-1123771.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" alt="Gallery Image">
                    </a>
                </div>
                <div class="col-6 col-sm-4 mb-4">
                    <a href="https://images.pexels.com/photos/325807/pexels-photo-325807.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="thumbnail">
                        <img src="https://images.pexels.com/photos/325807/pexels-photo-325807.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid" alt="Gallery Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 style="text-align: center;">PROJECTS</h2>
<section class="pwp-projects">
        <div>
            <div class="row" id="row">
                <div class="col-md-3">
                    <div class="card  text-center" id="card1">
                        <br>
                        <div class="card-body">
                            <div class="card-title">PWP PILOT PROJECTS</div>
                            <p class="card-text">Pilot projects are to be implemented under the Basel Convention
                                Partnership on Plastic Waste (PWP) to improve and promote the environmentally sound
                                management (ESM) of plastic waste and to prevent and minimize its generation.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-outline-success btn-icon-right">
                                <span>PWP Pilot Projects
                                    <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png"
                                        height="24">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  text-center" id="card2">
                        <br>
                        <div class="card-body">

                            <div class="card-title">ENVIRONMENTAL REPORT</div>
                            <p class="card-text">As the UN Secretary-General has said, we are currently grappling with
                                the worst global crisis since World War II. As leaders respond to these unprecedented
                                challenges and take the decisions that will shape societies.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-outline-success btn-icon-right">
                                <span>Enviromental Report
                                    <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png"
                                        height="24">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card  text-center" id="card3">
                        <br>
                        <div class="card-body">
                            <div class="card-title">WORK PROGRAMME</div>
                            <p class="card-text">The rolling work programme up to 2030 of PISR aims to advance the
                                achievement of the overall objective of PISR, which is to strengthen the science-policy
                                interface for biodiversity and ecosystem services for the conservation and sustainable
                                use of biodiversity, long-term human well-being and sustainable development.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-outline-success btn-icon-right">
                                <span>WORK Programme
                                    <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png"
                                        height="24">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <h1 style="text-align: center;">Work Programme</h1>
        <style>
            .outer-div {
                display: flex;
                justify-content: center;
                background-color: #e1f5fe;
            }

            .inner-div {
                margin: 0px 10px;
                padding: 70px;
                justify-content: center;
            }
        </style>

        </head>

        <body>
            <div class="outer-div">
                <div class="inner-div">
                    <h3 style="text-align: center;">PISR rolling work programme up to 2030</h3>
                    <br>
                    <p class=" " style="max-width: 1500px;">The rolling work programme up to 2030 of PISR aims to advance the achievement of the overall
                        objective of PISR, which is to strengthen the science-policy interface for biodiversity and
                        ecosystem services for the conservation and sustainable use of biodiversity, long-term human
                        well-being and sustainable development.
                        The policy framework for the 2030 work programme corresponds to the 2030 Agenda for Sustainable
                        Development, including the Sustainable Development Goals, the biodiversity-related conventions
                        and other biodiversity and ecosystem service processes.
                        The 2030 work programme is entirely demand-driven, based on requests received from relevant
                        bodies under multilateral environmental agreements and Governments and inputs and suggestions
                        received from other stakeholders. It is expected to inform all stakeholders in the
                        implementation of their activities to support the achievement of the post-2020 global
                        biodiversity framework and the 2050 Vision for Biodiversity, as well as other work under
                        multilateral environmental agreements related to biodiversity. The work programme may also
                        inform the implementation of the Paris Agreement with respect to matters related to the links
                        between biodiversity and climate change.
                        The goal of the work programme is the performance of the four functions of PISR. It is guided by
                        its operating principles.
                        The 2030 work programme is a rolling work programme, with a strategic and predictable timing, so
                        as to allow research and other programming entities and strategic partners to support identified
                        deliverables effectively. The Plenary will launch additional calls for requests, inputs and
                        suggestions during the course of the work programme, in line with the process set out in
                        decision PISR-1/3, which allows for requests, inputs and suggestions to be submitted no later
                        than six months prior to a session of the Plenary.
                        For information on the first PISR work programme 2014-2018 please see here.
                    </p>
                </div>
            </div><br>
            <h1 style="text-align: center;">Enviromental Statistics</h1>
            <section class="counter bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="count-card">
                                <i class="far fa-smile"></i>
                                <span data-toggle="counter-up">75%</span>
                                <h3>Enviromental Pollution</h3>
                                <p>75 percent indicated last year that nature has been damaged seriously.</p>
                                <a href="#">Read More »</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="count-card">
                                <i class="fas fa-project-diagram"></i>
                                <span data-toggle="counter-up">99%</span>
                                <h3>Worlds Affected Population</h3>
                                <p>99% of the world's population live in places where air quality levels exceed normal limits</p>
                                <a href="#">Read More »</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="count-card">
                                <i class="far fa-question-circle"></i>
                                <span data-toggle="counter-up">300 m</span>
                                <h3>Plastic Pollution</h3>
                                <p> Global plastic production now averages more than 300 million metric tons per year.</p>
                                <a href="#">Read More »</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="count-card">
                                <i class="fas fa-users"></i>
                                <span data-toggle="counter-up">7.3 m</span>
                                <h3>Tree Cover</h3>
                                <p>As of 2020, global annual tree cover loss was the highest due to forestry activities</p>
                                <a href="#">Read More »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End counter Section -->
            <br>
            <h2 style="text-align: center;">World Programme Topics</h2>
            <div class="accordion-container">
                <div class="accordion">
                    <div class="card card-accordion">
                        <div class="card-header" id="headingOne">
                            <span>Understanding the importance of biodiversity in achieving the 2030 Agenda for
                                Sustainable
                                Development:</span>
                            <a href="#collapseOne" class="icon-btn" data-toggle="collapse"></a>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                Addressing the nature of the interlinkages between biodiversity and other relevant
                                issues
                                reflected in the 2030 Agenda may advance the understanding of biodiversity-related
                                impacts,
                                dependencies, synergies and trade-offs across the Sustainable Development Goals and of
                                options for integrated and cross-sectoral approaches to achieving the 2030 Agenda. To
                                address this challenge, the deliverables under this topic will look, in particular, at
                                the
                                interlinkages among biodiversity, water, food and health and between biodiversity and
                                climate change, with a view to informing the development of policies and actions. Other
                                aspects may include the role of connectivity in ensuring integrity and resilience in
                                socioecological systems;
                            </div>
                        </div>
                    </div>
                    <div class="cardd card-accordion">
                        <div class="card-header" id="headingTwo">
                            <span>Understanding the underlying causes of biodiversity loss and determinants of
                                transformative change and options for achieving the 2050 Vision for
                                Biodiversity:?</span>
                            <a href="#collapseTwo" class="icon-btn" data-toggle="collapse"></a>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Achieving the 2050 Vision in conjunction with the Sustainable Development Goals can be
                                informed by an improved understanding of fundamental changes at many levels, from
                                individuals through communities and businesses to society at large. The deliverables
                                related
                                to this topic are aimed at understanding and identifying factors in human society at
                                both
                                the individual and collective levels, including behavioural, social, cultural, economic,
                                institutional, technical and technological dimensions, that may be leveraged to bring
                                about
                                transformative change for the conservation, restoration and wise use of biodiversity,
                                while
                                taking into account broader social and economic goals in the context of sustainable
                                development
                            </div>
                        </div>
                    </div>
                    <div class="card card-accordion">
                        <div class="card-header" id="headingThree">
                            <span>Measuring business impact and dependence on biodiversity and nature’s contributions to
                                people:</span>
                            <a href="#collapseThree" class="icon-btn" data-toggle="collapse"></a>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                Appropriate tools for measuring, assessing and monitoring the dependence and impact of
                                the
                                business sector on biodiversity are important for reducing adverse effects. Such tools
                                are
                                also important for promoting business actions contributing to the conservation,
                                restoration
                                and sustainable use of biodiversity and to developing the business case for long-term
                                sustainability. They are also important for promoting public accountability, informing
                                regulatory agencies and guiding financial investments and in influencing consumer
                                behaviour.
                                Deliverables under this topic include categorization of the ways in which businesses
                                depend
                                on, and impact, biodiversity and nature’s contributions to people, and work related to
                                criteria and indicators for measuring this dependence and impact, taking into
                                consideration
                                how such metrics can be integrated into other aspects of sustainability.
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
            <section id="team" class="pb-5">
                <div class="container">
                    <h5 class="section-title h1"></h5>
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="/static/img/projects/pexels-artem-beliaikin-2447036.jpg" alt="card image"></p>                                                                                               
                                                <h4 class="card-title">Assessing knowledge</h4>
                                                <p class="card-text">To assess the state of knowledge on biodiversity and nature’s contributions to people in support of sustainable development.
                                                    <br> <br>

                                                </p>
                                                <a href="{% url 'objective1' %}" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Assessing knowledge</h4>
                                                <p class="card-text">This objective will be achieved through the following initial deliverables, corresponding to the three priority topics:</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-skype"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-google"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a href="{% url 'objective1' %}" class="readmoree text-center">Read More »</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="/static/img/projects/ocean.jpg" alt="card image"></p>                                                
                                               
                                                <h4 class="card-title">Building Capacity</h4>
                                                <p class="card-text">To build capacities of individuals and institutions for a strengthened science-policy interface for biodiversity and ecosystem services.</p>
                                                <a href="{% url 'objective2' %}" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Building Capacity</h4>
                                                <p class="card-text">The achievement of this objective is supported by the three components of the capacity-building rolling plan, which applies to ongoing and future activities of the work programme:</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-skype"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-google"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a href="{% url 'objective2' %}" class="readmoree text-center">Read More »</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="/static/img/projects/cheetar.jpg" alt="card image"></p>
                                                
                                                <h4 class="card-title">Strengthening the knowledge foundations</h4>
                                                <p class="card-text">To promote the generation of knowledge and management of data on biodiversity and ecosystem services. </p>
                                                <a href="{% url 'objective3' %}" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Strengthening the knowledge foundations</h4>
                                                <p class="card-text">This objective will be achieved through ongoing and future activities across the work programme, as follows:</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-skype"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-google"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a href="{% url 'objective3' %}" class="readmoree text-center">Read More »</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="/static/img/projects/elephant.jpg" alt="card image"></p>
                                               
                                                <h4 class="card-title">Supporting policy</h4>
                                                <p class="card-text">To identify and promote the development and use of policy instruments, policy support tools and methodologies in the field of biodiversity.</p>
                                                <a href="{% url 'objective4' %}" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Supporting policy</h4>
                                                <p class="card-text">This objective will be achieved through ongoing and future activities across the work programme, as follows:</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-skype"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-google"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a href="{% url 'objective4' %}"  class="readmoree text-center">Read More »</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="/static/img/projects/seedling.jpg" alt="card image"></p>
                                                
                                                <h4 class="card-title">Communicating and engaging</h4>
                                                <p class="card-text">To strengthen the involvement of the members and stakeholders and to increase the visibility of PISR and the use of PISR products.</p>
                                                <a href="{% url 'objective5' %}"   class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Communicating and engaging</h4>
                                                <p class="card-text">This objective will be achieved through the following:</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-skype"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-google"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a href="{% url 'objective5' %}"   class="readmoree text-center">Read More »</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="/static/img/projects/pollution.jpg" alt="card image"></p>                                               
                                                <h4 class="card-title">Improving the effectiveness of the Platform</h4>
                                                <p class="card-text">To ensure the regular internal and external review of the effectiveness of PISR.</p>
                                                <a href="{% url 'objective6' %}" class="btn btn-outline-success btn-sm"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h4 class="card-title">Improving the effectiveness of the Platform</h4>
                                                <p class="card-text">This objective is aimed at ensuring that the outcome of the review of the first work programme informs the implementation of the rolling work programme up to 2030.</p>
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-skype"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-icon text-xs-center" target="_blank" href="#">
                                                            <i class="fa fa-google"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a href="{% url 'objective6' %}" class="readmoree text-center">Read More »</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Team member -->
            
                    </div>
                </div>
            </section>
            <section class="testimonial-slider bg-light">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner py-5 text-center">
                        <div class="carousel-item active">
                            <i class="bi bi-chat-right-quote fs-1 text-danger"></i>
                            <figure class="text-cent col-md-6 offset-md-3 mt-4">
                                <blockquote class="blockquote">
                                    <p>“I only feel angry when I see waste. When I see people throwing away things we could use.”</p>
                                </blockquote>
                                <figcaption class="blockquote-footer mt-2"><i>—Mother Teresa</i></figcaption>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <i class="bi bi-chat-right-quote fs-1 text-danger"></i>
                            <figure class="col-md-6 offset-md-3 mt-4">
                                <blockquote class="blockquote">
                                    <p>“Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it is the only thing that ever has.”</p>
                                </blockquote>
                                <figcaption class="blockquote-footer mt-2"><i>—Margaret Mead</i>
                            </figure>
                        </div>
                        <div class="carousel-item">
                            <i class="bi bi-chat-right-quote fs-1 text-danger"></i>
                            <figure class="col-md-6 offset-md-3 mt-4">
                                <blockquote class="blockquote">
                                    <p>“One of the first conditions of happiness is that the link between man and nature shall not be broken.”</p>
                                </blockquote>
                                <figcaption class="blockquote-footer mt-2"><i>—Leo Tolstoy</i></figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
</section>
{% endblock %}