
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Roboto:ital,wght@0,300;0,500;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    --color-primary: #6BC74D;
    --color-secondary: #7DE06B;
    --french-blue: #70AEFF;
    --crayola-blue: #3771EF;
  }


* {
  font-family: 'Poppins', sans-serif;
}


  /* header and navbar styling */

.home {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  color: whitesmoke;
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
  z-index: 2000;
}


.home video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .8;
}


.home dl, ol, ul {
  margin-bottom: 0;
}


.home .cover-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  flex-direction: column;
}


.home .cover-text h2 {
  font-size: 3em;
  font-weight: 400;
  line-height: 1em;
  z-index: 3000;

  /* text-transform: uppercase; */
}


.home .cover-text h4 {
  letter-spacing: 4px;
  font-weight: 200;
}


.home .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #056b9b;
  mix-blend-mode: overlay;
}


nav {
  height: auto;
  box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
}


.nav-container {
  box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 11px 0px rgba(0,0,0,0.75);
}

#primary-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5em;
/* 
  background: hsl(0 0% 100% / .2);
  backdrop-filter: blur(1rem); */
}
.img-fluid1{
  height: 50%;
}
.achivement{
background-image: url("https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1013&q=80");
}

#card11{
  opacity: 0.62;
  height: auto;
  
}

#primary-navigation li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
}
.back{
  padding: 1rem 1rem;
}

#primary-navigation li {
  list-style: none;
}


.mobile-nav-toggle {
  display: none;
}


#primary-navigation > li > a {
  color: whitesmoke;
  transition: all 250ms ease-in;
}

body > div > div.cover-text > a {
  color: #111;
  background-color: var(--color-primary);
}

body > div > div.cover-text > a:hover {
  color: var(--color-primary);
  background-color: transparent;
}


.logo {
  position: absolute;
  left: 2rem;
  z-index: 1300;
  top: 1rem;
  color: whitesmoke;
  cursor: pointer;
  font-weight: 700;
}


.logo h2 {
  color: whitesmoke;
  margin-top: 0;
  z-index: 1300;
  font-weight: bolder;

}

.cover-text {
  text-align: center;
}


.cover-text h4 {
  font-weight: 200;
}


.push-down {
  margin-top: 5rem;
}


.cover-text a {
  text-decoration: none;
  color: var(--color-secondary);
  padding: .5em 1em;
  background-color: transparent;
  border: 2px solid var(--color-secondary);
  cursor: pointer;
  border-radius: 20px;

  transition: all 250ms ease-in;

}


.cover-text a:hover {
  letter-spacing: 3px;
}

.nav ul li a {
  text-decoration: none;
}


.nav {
  height: 40px;
  box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.37);
-webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.37);
}


@media (max-width: 35em){

  .home {
      max-width: 100vw;
      overflow: hidden;
  }


  #primary-navigation {
      position: fixed;
      inset: 0 0 0 10%;
      z-index: 1100;
      flex-direction: column;
      padding: min(30vh, 10rem) 2em;
      background: rgba(10, 10, 10, 0.1);
      backdrop-filter: blur(1rem);
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: transform 350ms ease-out;
      color: whitesmoke;
  }


  #primary-navigation > li > a:hover {
    letter-spacing: 3px;
    margin-top: 1rem;
  }

  body > div > div.cover-text > h2 {
    font-size: 2em;
  }
  

  body > div > div.cover-text > h4 {
    font-size: 14px;
    letter-spacing: 3px;
  }


  #primary-navigation[data-visible='true'] {
      transform: translateX(0%);
  }

  .mobile-nav-toggle {
      position: absolute;
      border: 0;
      border-radius: 50px;
      width: 1.5rem;
      aspect-ratio: 1;
      top: 2rem;
      right: 2rem;
      z-index: 1999;
      display: block;
      background-image: url('https://res.cloudinary.com/dblrvhi8r/image/upload/v1643220090/hamburger-menu_y7knvt.svg');
      background-repeat: no-repeat;
      background-color: whitesmoke;
      background-position: center;
      background-size: cover;     
       
      box-shadow: -6px 7px 24px -7px rgba(0,0,0,0.63);
-webkit-box-shadow: -6px 7px 24px -7px rgba(0,0,0,0.63);
-moz-box-shadow: -6px 7px 24px -7px rgba(0,0,0,0.63);
  }    


  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url(https://res.cloudinary.com/dblrvhi8r/image/upload/v1643220091/close_ablnmd.svg);
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  body > div > div.cover-text > a {
    margin-top: .5em;
  }
}


@media (max-width: 560px){
  .logo h2 {
    margin-top: 1rem;
    display: none;
  }
}


@media (min-width: 35em){
  #primary-navigation {
      padding: 1.2rem 1rem;
      position: absolute;
      margin-bottom: 4.5rem;
      top: 0;
      left: 0;
      z-index: 1100;
      width: 100%; 
      background: linear-gradient(to right, #08203e, #557c93);
 
  }


  #primary-navigation li a {
      color: whitesmoke;
  }


  #primary-navigation li a:hover {
      text-decoration: none;
  }


  body > nav > div > h2 {
    margin-top: 1em;
  }  
}


/*landingpage animations */
.home .reveal {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0) ;
  transition: all 1.5s;
  transform: translateY(-2em);
}
/* Style objective one */
.obj-1 .hero{
  background: linear-gradient(rgb(0, 110, 255),rgb(0, 195, 255)), url("https://images.unsplash.com/photo-1639821685087-74250b876743?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80") no-repeat center / cover;
  height: 60vh;
  color: white;
  margin-bottom: 2rem;
}
.obj-1 .achivement{
  background-image: url("https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1013&q=80");

  height: auto;

}

/* End of objective one style */
/* style the blog page */
.blog-banner #blog-banner{
  background: linear-gradient(rgb(0, 110, 255),rgb(0, 195, 255)), url("https://images.unsplash.com/photo-1639821685087-74250b876743?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80") no-repeat center / cover;
  height: 60vh;
  color: white;
  margin-bottom: 2rem;

}

/* Start of the Footer Css */
.footer footer {
  width: 100%;
  /*position: absolute;*/
  bottom: 0;
  background: linear-gradient(to right, #08203e, #557c93);
  color: #ffffff;
  padding: 30px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

.frow {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.fcol {
  flex-basis: 25%;
  padding: 10px;
}

.fcol:nth-child(2), .fcol:nth-child(3) {
  flex-basis: 15%;
}

.flogo {
  width: 80px;
  margin-bottom: 30px;
}

.fcol h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
  margin-bottom: 12px;
}

footer ul li a {
  text-decoration: none;
  color: #ffffff;
}

footer form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

footer form .far {
  font-size: 18px;
  margin-right: 10px;
}

footer form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

footer form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

footer form button .fas {
  font-size: 16px;
  color: #ccc;
}

.social-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

.footer hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}
span{
  text-align: center !important;
}

footer .underline {
  width: 100%;
  height: 2px;
  background: #767676;
  border-radius: 2px;
  position: absolute;
  top: 32px;
  left: 0;
  overflow: hidden;
}

footer .underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }
  .fcol{
    flex-basis: 100%;
  }

  .fcol:nth-child(2), .fcol:nth-child(3) {
    flex-basis: 100%;
  }
}
/* End of the Footer Css */

