/* start of project secion css */
.pwp-projects{
  overflow-x: hidden;
}

.card {
    justify-content: center; 
    display: flex;  
  }
  #row{
    justify-content: center;
  }
  #card1 {
    background-image: url(/static/img/projects/lake.jpg);
    background-size: cover;
    background-blend-mode: color;
    height: 500px; 
    
  }
  #card2 {
    background-image: url(/static/img/projects/pexels-pixabay-414798.jpg);
    background-size: cover;
    background-blend-mode: color;
    height: 500px; 
    
  }
  #card3 {
    background-image: url(/static/img/projects/seedling.jpg);
    background-size: cover;
    background-blend-mode: color;
    height: 500px; 
    
  }
  #img-responsive{
    height: 300px;
    border-radius: 70px;
    max-width: 300px;
    align-self: center;
    
  }
  .col-md-3{
      align-items: center;
      min-width: 350px;
      display: flex;
  }
  
  /* card group aka PRIMARY */
  .col-md-3 .card:hover {
    box-shadow: 0 40px 60px -20px rgba(2, 120, 255, 0.479);
    z-index: 100;
  }
  .col-md-3 .card-primary:hover .card-title{
    color: #4e22d0;
  }
  
  .col-md-3 .card .card-body > .badge {
    margin-bottom: 24px;
  } 
  .col-md-3 .card .card-body {
    padding: 0 32px;
  }
  .col-md-3 .card .card-title {
    color: #261c6a;
    font-size: 26px;
    line-height: 1.54;
    font-weight: 900;
    margin-bottom: 24px;
  }
  .col-md-3 .card .card-text {
    color: #261c6a;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
  }
  .col-md-3 .card .card-footer {
    padding: 48px 0 56px;
    background: transparent;
    border:0;
  }
  
  /* cards as ACCORDION */
  .accordion-container{
    /* margin: 50px 0; */
    justify-content: center;
    margin: auto;
    align-items: center;
    max-width: 1700px;
  }
  .accordion {
    margin: 24px;
    box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
    border: solid 1px #e9e8f3;
  }
  .accordion .card {
    border-radius: 0;
    margin:0;
  }
  
  .accordion .card:first-child {
    border-bottom: solid 1px #e9e8f3;
  }
  .accordion .card:not(:first-of-type):not(:last-of-type){
    border-bottom: solid 1px #e9e8f3;
  }
  
  
  .accordion .card-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    background-color: #fff;
    border-radius: 0;
    color: #261c6a;
    padding: 36px 32px;
    border-bottom-width: 0;
  }
  .accordion .card-header:hover {
    color: #4e22d0;
  }
  .accordion .card:hover {
    z-index: 99999;
    box-shadow: 0 20px 40px -20px rgba(12, 5, 62, 0.4);
  }
  .accordion .card-header img {
    padding-right: 16px;
  }
  .accordion .card-header span {
    display: inline-block;
    width: calc(100% - 60px);
  }
  .accordion .card-header + .list-group .list-group-item:first-child {
    border-top: 1px;
  }
  .accordion .icon-btn {
    float: right;
    width: 48px;
    height: 48px;
    padding: 0;
    background: #fff url('https://web-static.ff.int.avast.com/static3.avast.com/1/web/i/v2/components/plus-s-plum.png') no-repeat 50% 50%;
    box-shadow: 0 12px 15px -4px rgba(12, 5, 62, 0.12);
    border: solid 1.2px #d4d2e6;
    border-radius: 24px;
    /* -webkit-transition: background .3s;
    transition: background .3s; */
  }
  .accordion .icon-btn:hover {
    background: #4e22d0 url('https://web-static.ff.int.avast.com/static3.avast.com/1/web/i/v2/components/plus-s-white.png') no-repeat 50% 50%;
    box-shadow: 0 12px 15px -4px rgba(78, 34, 208, 0.3), 0 12px 15px -4px rgba(12, 5, 62, 0.15);
  }
  .accordion .icon-btn:active {
    background: #261c6a url('https://web-static.ff.int.avast.com/static3.avast.com/1/web/i/v2/components/plus-s-white.png') no-repeat 50% 50%;
    box-shadow: 0 12px 15px -4px rgba(78, 34, 208, 0.3), 0 12px 15px -4px rgba(12, 5, 62, 0.15);
  }
  .accordion .card-body {
    padding: 0 32px 40px;
  }
  
  
  /* PAGE LAYOUT */
  main{
    padding:0 20px;
    max-width:1361px;
    margin:0 auto;
  }
  h2 {
    margin-top: 40px;
  }
  .counter {
    padding: 50px 0px;
}
.counter .count-card {
    box-shadow: 25px 27px 10px -24px #e8e8e8;
    padding: 30px;
    width: 100%;
    background: #fff;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-bottom-right-radius: 50px;
    position: relative;
    overflow: hidden;
    z-index: 99999;
}
.counter .count-card::after {
    content: '';
    position: absolute;
    background: #fff5a0;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
}
.counter .count-card:hover::after {
    background: #7DE06B;
    width: 100%;
    height: 100%;
}
.counter .count-card i {
  display: block;
  font-size: 30px;
  color: #4caf50;
  float: left;
}
.counter .count-card span {
    font-size: 42px;
    line-height: 24px;
    display: block;
    font-weight: 700;
    color: #607d8b;
    margin-left: 50px;
}
.counter .count-card p {
    font-size: 14px;
    text-align: right;
}
.counter .count-card h3 {
    font-size: 20px;
    margin-top: 36px;
    text-transform: uppercase;
    text-align: right;
    color: #607d8b;
}
.counter .count-card a {
    font-weight: 600;
    display: block;
    border-top: 2px dashed #4caf50;
    margin-top: 20px;
    padding-top: 20px;
    color: #4caf50;
    font-size: 18px;
    text-decoration: none;
    text-align: right;
}
.counter .count-card a:hover {
    color: #607d8b;
}
.testimonial-slider .carousel-indicators button {
    width: 10px;
    height: 10px;
    background-color: #dc3545;
    border-radius: 100%;
}
.testimonial-slider {
    padding: 10px 0px 40px;
}
.d-block {
  height: 80vh;
  width: 100%;
  align-self: center;
}
.carousel-item{
max-height: 70vh;
}

@media (max-width: 500px) {

accordion-container {
    width: auto;
  }
}
@media (max-width: 300px) {

explain {
    width: auto;
    text-align: center;
    }
  }

  #team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}  

.photoGallery {
  padding: 30px 0px;
  background-color: #81a9ff79;
  border-radius: 50px 0px 50px 0px;
  
}
.photoGallery h2 {
  font-size: 40px;
  color: #2196F3;
}
.photoGallery p {
  font-size: 18px;
  color: #9e9e9e;
}
.gallery-columns {
  padding: 15px 0px;
  margin-top: 30px;
}
.gallery-columns .thumbnail {
  max-height: 235px;
  overflow: hidden;
  display: block;
  border-radius: 50px 0px 50px 0px;
  box-shadow: 0px 0px 6px 0px #777777;
  border: 1px solid #fff;
}
.gallery-columns a img {
  transition: 1s;
  cursor: zoom-in;
}
.gallery-columns .thumbnail:hover img {
  transform: scale(1.07);
}
#baguetteBox-overlay .full-image img {
  border: 3px solid #fff;
  border-radius: 10px;
}
.readmoree{
  border-color: #7DE06B;
  text-decoration: none;
  padding: .2em .5em;
  background-color: rgb(43, 221, 43);
  color: rgb(27, 27, 27);
  display: block;
  margin: 0 auto;
}
  /* end of project section css */